<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Δικαιώματα για Google Maps -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDXnYDzarpXTslzHOBciwOpC-_7GYGV2yI" />

        <!-- Δήλωση MainActivity -->
        <activity
            android:name="com.mindcastle.presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MindCastle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Δήλωση MapActivity (με Google Maps) -->
        <activity
            android:name="com.mindcastle.presentation.screens.MapActivity"
            android:exported="true"
            android:label="Χάρτης"
            android:theme="@style/Theme.MindCastle" />

        <!-- Δήλωση QuestionActivity -->
        <activity
            android:name="com.mindcastle.presentation.screens.QuestionActivity"
            android:exported="true"
            android:label="Κουίζ"
            android:theme="@style/Theme.MindCastle" />

        <activity
            android:name="com.mindcastle.presentation.screens.MonumentInfoActivity"
            android:exported="true"
            android:label="Πληροφορίες Μνημείου"
            android:theme="@style/Theme.MindCastle" />


    </application>

</manifest>
